body {
    background-color: black;
    font-family: "Fantasy", "Papyrus"
}
h1 {
    color: white;
    font-size: 70px;
    border-bottom: 1.5px solid whitesmoke;
    text-align: center;
}
p {
    color: white;
}
textarea {
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 85%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid whitesmoke;
    text-align: center;
    font-family: "Fantasy", "Papyrus";
}
textarea:hover {
    background-color: whitesmoke;
    color: black;
    border: 2px solid grey;
}

#output {
    border-radius: 7px;
    width: 85%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
}
#output:hover {
    background-color: white;
    color: black;
    border: 2px solid grey;
}

.button {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    font-family: "Fantasy", "Papyrus";
}

.button1:hover {
    background-color: black;
    color: white;
    padding: 10px 60px;
    border: 1.5px solid whitesmoke;
}
.container {
    padding: 0rem 5rem;

}
.container-center {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
